{% extends "layout.html" %}
{% block content %}
    <div class="content-section" xmlns="http://www.w3.org/1999/html">
    <div class="media">
        <img class="img-rounded account-img" src="{{ image_file }}">
        <div class="media-body">
<h1>Hi {{ student.name }}</h1>


        <p align="center"> </p>
        <p>Your email: {{ session.get('email') }}</p>
        <p>Your university: {{ session.get('uni') }}</p>
        {% if student.about_me %}<p>{{ student.about_me }}</p>{% endif %}

    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>

    <hr>
        
    </div>
    </div>


    </div>

    
{% endblock content %}